<strong>Olá, {{provider}}</strong>
<p>Nova entrega cadastrada, confira os detalhe abaixo:</p>
<p>
  <strong>Destinatário:</strong> {{user}} <br />
  <strong>Endereço:</strong> {{street}}, {{number}}, {{complement}} <br />
  <strong>CEP:</strong> {{zipcode}} <br />
  <br />
  <small>
    Para mais informações acesse nossa plataforma!
  </small>
</p>